.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 0 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
}

.main h1 {
  text-align: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  padding: 1.5rem;
  padding-bottom: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease, all 0.2s ease-in-out;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 250px;
  text-align: center;
}

.card:hover,
.card:focus,
.card:active {
  color: #1db954;
  border-color: #1db954;
  transform: scale(1.05);
}

.card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-top: 0.75rem;
}

.logo {
  height: 1em;
}

.listContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.switchContainer {
  background-color: #f6f6f6;
  border: 2px solid #eee;
  border-radius: 16px;
  margin-bottom: 15px;
  display: flex;
}
.switchButton {
  padding: 15px 40px;
  border: none;
  border-radius: 16px;
  background-color: transparent;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.discImage {
  width: 200px;
  height: 200px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.discImage:hover {
  -webkit-animation: spin 8s linear infinite;
  -moz-animation: spin 8s linear infinite;
  animation: spin 8s linear infinite;
}
.discImage img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 100%;
}
.discCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ffffff22;
  border-radius: 100%;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

@media (max-width: 400px) {
  .main h1 {
    font-size: 30px;
    text-align: center;
  }

  .switchButton {
    padding: 15px 30px;
    border: none;
    border-radius: 16px;
    background-color: transparent;
    font-weight: bold;
    font-size: 1rem;
  }

  .card {
    margin-right: 0px;
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
